#clock {
    width: 300px;
    height: 250px;
    position: relative;
  }
  
  .hour-pointer, .minute-pointer, .second-pointer {
    display: block;
    position: absolute;
    background-color: #ff6d6d;
    border-radius: 10px;
  }
  
  .hour-pointer {
    top: calc(50% - 27.5px);
    width: 4px;
    height: 80%;
    transform-origin: bottom center;
    transform: rotate(-30deg); /* 初始小时指针角度 */
  }
  
  .minute-pointer {
    left: calc(50% - 14px);
    width: 6px;
    height: 70%;
    background-color: #ff9b9b;
    transform-origin: bottom center;
    transform: rotate(-27deg); /* 初始分钟指针角度 */
  }
  
  .second-pointer {
    top: calc(50% - 14.5px);
    left: calc(50% - 16px);
    width: 2px;
    height: 90%;
    transform-origin: bottom center;
    transition: all 0.3s; /* 增加动画效果 */
  }
  
  .digital-clock {
    position: absolute;
    top: 80px;
    left: calc(50% - 14px);
    font-size: 26px;
  }